@font-face {
    font-family: 'diploma';
    src: url('https://raw.githubusercontent.com/archiedgegs/O-Legado-do-Ferreiro/main/Fonts/diploma.ttf') format('truetype');
}

@font-face {
    font-family: 'livingstone';
    src: url('https://raw.githubusercontent.com/archiedgegs/O-Legado-do-Ferreiro/main/Fonts/livingstone.ttf') format('truetype');
}

@font-face {
    font-family: 'princevaliant';
    src: url('https://raw.githubusercontent.com/archiedgegs/O-Legado-do-Ferreiro/main/Fonts/princevaliant.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://raw.githubusercontent.com/archiedgegs/O-Legado-do-Ferreiro/main/Backgrounds/Title%20Screen%20Background.png');
    background-color: #000000;
    background-position: center;
    background-size: auto;
    background-repeat: repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
}

.info-text {
    padding: 0.625rem 1.25rem;
    font-size: 2rem;
    font-family: 'livingstone';
    background-color: #ff6d6d;
    color: #110000;
    border: none;
    cursor: pointer;
    width: 16rem;
    display: block;
    margin: 0 auto 3rem auto;
    box-shadow: black 0.625rem 0.625rem 0.1875rem;
    outline: #880000 solid 0.3125rem;
}

.screen, 
.hidden {
    display: none;
    opacity: 0;
}

.active {
    display: block;
    opacity: 1;
}

#title-screen-header {
    font-family: 'diploma';
    font-size: 16rem;
    margin: auto auto -2rem auto;
    color: #880000;
    text-shadow: black 0.625rem 0.625rem 0.3125rem;
    -webkit-text-stroke: 0.00625rem #110000;
}

.container {
    padding: 0.625rem 1.25rem;
    font-size: 2rem;
    font-family: 'livingstone';
    background-color: #110000;
    color: #ff6d6d;
    border: none;
    cursor: pointer;
    width: 20rem;
    display: block;
    margin: 0 auto 1rem auto;
    box-shadow: black 0.625rem 0.625rem 0.1875rem;
    outline: #880000 solid 0.3125rem;
}

.game-container {
    width: fit-content;
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'princevaliant';
    text-indent: 2rem;
    background-color: #000000;
    color: #ff6d6d;
    outline: none;
}

.header-game-text {
    text-align: center;
}

input[type='range'] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
}

input[type='range']::-webkit-slider-runnable-track {
    background: #666666;
    height: 0.5rem;
    width: 10rem;
    border-radius: 0.5rem;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.5rem;
    background: #ffa600;
    height: 1.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
}

input[type='range']:focus {
    outline: none;
}

input[type='range']:focus::-webkit-slider-thumb {
    outline: 0.3125rem solid #880000;
  }

.back {
    margin-top: 3rem;;
}

#backfromaudio-options-button {
    margin-top: 1rem;
}

button {
    padding: 0.625rem 1.25rem;
    font-size: 2rem;
    font-family: 'livingstone';
    background-color: #110000;
    color: #ff6d6d;
    border: none;
    cursor: pointer;
    width: 16rem;
    display: block;
    margin: 1rem auto;
    box-shadow: black 0.625rem 0.625rem 0.1875rem;
    outline: #880000 solid 0.3125rem;
}

button:hover, 
.hovered {
    background-color: #ff6d6d;
    color: #110000;
}

.options-controls-screen-button {
    font-size: 1rem;
    margin: 1rem auto auto auto;
}

.container-flex {
    display: inline-block;
    margin: 0.5rem 0.5rem;
    
    height: fit-content;
}

.player {
    background-color: #ff6600;
}

.game-board {
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(40, 10px);
    grid-template-rows: repeat(40, 10px);
    gap: 1px;
    margin: 5px;
    border: #880000 solid 10px;
    background-color: #ffffff;
    position: relative;
}